.container__blogs,.container__nosotros,.container__clientes{
    width: 1200px;
    margin: 0 auto;
}
.blogs{
 display: flex;
 justify-content: space-between;
}
.blogs-card{
    border: 1px solid var(--grey);
    max-width: 370px;
}
.blogs-card__content{
    padding: 20px;
}
.blogs-card__btn{
    text-decoration: none;
    color: var(--grey);
    padding: 10px;
    background-color: var(--cafe);
}
.blogs-card__user, .title__color{
    color: var(--cafe);
}
.nosotros{
    display: flex;
    justify-content: space-between;
}
.nosotros__container-img{
    width: 600px;
    padding: 20px;
}
.nosotros__contenido{
    width: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nosotros__title{
    border-bottom: 1px solid var(--grey);
    font-size: 1.5rem;
}
.nosotros__btn{
    text-decoration: none;
    color: var(--grey);
    padding: 15px;
    background-color: var(--cafe);
    width: 100%;
    text-align: center;
}
.cliente{
    display: flex;
    justify-content: space-between;
}
.cliente-card{
    border: 1px solid var(--grey);
    max-width: 370px;
    text-align: center;
    padding: 20px;
}
.title{
    text-align: center;
    font-size: 2rem;
}
.cliente-card__img{
    width: 80px;
    border-radius: 100%;
}
.cliente-card__stars{
    color: var(--cafe);
}
.container__menus{
    display: none;
}
.footer{
    display: none;
}