@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(51, 51, 51);
    color: white;
    margin: 0;
    font-variant: small-caps;
    font-family: "Raleway";
    font-weight: 300;
}

.container {
    display: flex;
    margin: 0 auto;
    height: 100vh; 
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
    scroll-behavior:smooth;
}

.profile {
    min-width: 400px;
    margin: 0;
    display: flex; 
    justify-content: center; 
    position: sticky;
    top: 0;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(87, 87, 87);
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.4);
}

.profile__boximg--img{
    width: 100px;
    border-radius: 100%; 
    border: 5px solid rgba(127, 255, 77, 0.8);
    box-shadow: 5px 5px 20px rgba(127, 255, 77, 0.5);
    margin-bottom: 0;
}

.profile__h1{
    font-size: 30px;
    margin-bottom: 0;
}

.profile__h2{
    font-size: 15px;
    margin-bottom: 40px;
}

.profile__div--a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 5px 90px;
    display: flex;
    justify-content: center;
}

.profile__div{
    background-color: rgba(73, 73, 73, 0.753);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.profile__div:hover{
    background-color: rgba(127, 255, 77, 0.6);
}

.info{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    justify-content: center;
    height: 100vh;
    margin: 50px;
    scroll-snap-align: start;
}
#info1, #info2,#info3,#info4,#info5{
    scroll-margin-top: 0;
}

.inicio__span{
    color: rgb(127, 255, 77);
    font-weight: 700;
    font-size: 20px;
}

.data{
    margin: 0 auto;
}

.data__hi{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
}

.i{
    width: 20px;
}

.inicio__div{
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-between;
    background-color: rgba(253, 253, 253, 0.3);
    padding: 10px;
    margin: 0;
    border-radius: 20px;
}
.inicio__div--p{
    margin: 0;
}

.user{
    color: rgb(127, 255, 77);
}

.inicio__div:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.data__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.data__datos{
    width: 250px;
    margin: 5px;
}

.datos{
    color: rgb(127, 255, 77);
}

.download{
    color: rgb(127, 255, 77);
    margin-left: 20px;
}
.data__download{
    text-decoration: none;
    color: white;
    background-color: rgba(253, 253, 253, 0.3);
    width: 250px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
}

.data__containers{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    min-width: 550px;
}

.data__container{
    background-color: rgba(253, 253, 253, 0.2);
    width: 120px;
    height: 120px;
}

.data__container--green{
    color: rgb(127, 255, 77);
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.data__container--white{
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.sobreMi{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.green{
    color: rgb(127, 255, 77);
}


.formacion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.formacion__container {
    display: flex;
    justify-content: space-evenly;
}

.formacion__container--div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
}

.formacion__article {
    padding: 0;
    width: 300px;
    position: relative;
    text-align: left;
    border-left: 1px solid rgb(127, 255, 77);
    padding-left: 20px;
}

.formacion__icono {
    position: absolute;
    top: -40px;
    left: -25px;
    background-color: rgb(127, 255, 77);
    border-radius: 100%;
    padding: 10px;
}

.formacion__icono i {
    color: #121212;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.formacion__contenido {
    margin-top: 0;
}

.año {
    background-color: rgba(112, 112, 112, 0.7);
    border-radius: 25px;
    color: white;
    display: flex;
    max-width: 70px;
    padding: 5px 15px;
    margin-bottom: 10px;
    font-weight: bold;
    justify-content: center;
    margin-left: 40px;
}

.miPortfolio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.portfolio__div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.portfolio__img{
    width: 280px;
}

.contacto{
    display: flex;
    flex-direction: column;
}

.contacto__datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.contacto__div{
    font-size: 14px;
    margin: 5px 0;
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-bottom: 20px;
}

.contacto__div p {
    margin: 5px;
}

.contacto__div i {
    color: rgb(66, 233, 0);
    margin-right: 10px;
    max-width: 400px;
}

.contacto__form {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.contacto__form input,
.contacto__form textarea {
    background-color: rgb(39, 39, 39);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}

.contacto__form button {
    background-color: rgba(253, 253, 253, 0.2);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto__form button i {
    margin-left: 5px;
    color: rgb(127, 255, 77);
}

.contacto__form button:hover {
    background-color: rgba(127, 255, 77, 0.3);
}