@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(51, 51, 51);
    color: white;
    margin: 0;
    font-variant: small-caps;
    font-family: "Raleway";
    font-weight: 300;
}

.container {
    display: flex;
    margin: 0 auto;
    height: 100vh; 
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
    scroll-behavior:smooth;
}

.profile {
    min-width: 400px;
    margin: 0;
    display: flex; 
    justify-content: center; 
    position: sticky;
    top: 0;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(87, 87, 87);
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.4);
}

.profile__boximg--img{
    width: 100px;
    border-radius: 100%; 
    border: 5px solid rgba(127, 255, 77, 0.8);
    box-shadow: 5px 5px 20px rgba(127, 255, 77, 0.5);
    margin-bottom: 0;
}

.profile__h1{
    font-size: 30px;
    margin-bottom: 0;
}

.profile__h2{
    font-size: 15px;
    margin-bottom: 40px;
}

.profile__div--a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 5px 90px;
    display: flex;
    justify-content: center;
}

.profile__div{
    background-color: rgba(73, 73, 73, 0.753);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.profile__div:hover{
    background-color: rgba(127, 255, 77, 0.6);
}

.info{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    justify-content: center;
    height: 100vh;
    margin: 50px;
    scroll-snap-align: start;
}
#info1, #info2,#info3,#info4,#info5{
    scroll-margin-top: 0;
}

.inicio__span{
    color: rgb(127, 255, 77);
    font-weight: 700;
    font-size: 20px;
}

.data{
    margin: 0 auto;
}

.data__hi{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
}

.i{
    width: 20px;
}

.inicio__div{
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-between;
    background-color: rgba(253, 253, 253, 0.3);
    padding: 10px;
    margin: 0;
    border-radius: 20px;
}
.inicio__div--p{
    margin: 0;
}

.user{
    color: rgb(127, 255, 77);
}

.inicio__div:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.data__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.data__datos{
    width: 250px;
    margin: 5px;
}

.datos{
    color: rgb(127, 255, 77);
}

.download{
    color: rgb(127, 255, 77);
    margin-left: 20px;
}
.data__download{
    text-decoration: none;
    color: white;
    background-color: rgba(253, 253, 253, 0.3);
    width: 250px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
}

.data__containers{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 900px;
}

.data__container{
    background-color: rgba(253, 253, 253, 0.2);
    width: 120px;
    height: 120px;
}

.data__container--green{
    color: rgb(127, 255, 77);
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.data__container--white{
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.sobreMi{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}